*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    font-family:  Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: #fff;
}
#home{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
#nav{
    width: 100%;
    padding: 2.5vw;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    min-height: 37px;
    height: 5vw;
}
#nav-rgt{
    display: flex;
    gap: 6vw;
}
#nav-rgt-rgt{
    display: flex;
    gap: 2vw;
}
#home #home-main{
    width: 100%;
    padding: 9.5vw 13vw;
}
#home-main h1{
    font-weight: 600;
    font-size: clamp(15px ,1.5vw,1000px);
    letter-spacing: -.1vw;
}
#home-main .heading{
    display: flex;
    gap: 4vw;
}

#home-main .heading h1{
    font-size: clamp(25px , 7vw , 1000px);
    font-weight: 900;
    line-height: .9;
    letter-spacing: -.4vw;
    color: transparent;
    -webkit-text-stroke: 1px #000 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#home-last p{
    font-size: clamp(15px , 2vw , 25px);
    font-weight: 500;
    letter-spacing: -0.8;
    

}
#home-last{
    padding: 3vw 13vw;
}
#home-last p::selection{
    color: #fff;
    background-color: #000;
}
#featured{
    padding: 9vw 15vw ;
}
.fheading h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 500;
}
.fheading h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000 ;
}
#f-images{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 5vw;
    height: 100vh;
}
#f-left{
    width: 45%;
    height: inherit;
   
    overflow: hidden;
}
#f-right{
    width: 45%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
#rgt-img{
    width: 90%;
    background-color: aqua;
    height: 90%;
}
.fleftelem{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.fleftelem h1{
    font-size: 2.6vw;
    font-weight: 590;
    text-transform: capitalize;
    margin: 1.4vw 0;
    line-height: 1;
}
.fleftelem h3{
    font-size: 1.4vw;
    font-weight: 580 ;
}
.fleftelem h4{
    line-height:.01;
    opacity: .7;
}
#btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#btndiv button{
    padding: 1vw 2.5vw;
    border-radius:1.9vw ;
    font-size: 1.2vw;
    background-color: #fff;
    border: .14vw solid #e6e6e6;
    font-weight: 590;
}