*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color:#000;
}
a{
    text-decoration: none;
    color: black;
    font-family:  Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: #fff;
}
#home{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
#nav{
    width: 100%;
    padding: 2.5vw;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    min-height: 37px;
    height: 5vw;
}
#nav-rgt{
    display: flex;
    gap: 6vw;
}
#nav-rgt-rgt{
    display: flex;
    gap: 2vw;
}
#home #home-main{
    width: 100%;
    padding: 9.5vw 13vw;
}
#home-main h1{
    font-weight: 600;
    font-size: clamp(15px ,1.5vw,1000px);
    letter-spacing: -.1vw;
}
#home-main .heading{
    display: flex;
    gap: 4vw;
}
#home-main .heading h1:hover{
    color: #000;
}
#home-main .heading h1{
    font-size: clamp(25px , 7vw , 1000px);
    font-weight: 900;
    line-height: .9;
    letter-spacing: -.4vw;
    color: transparent;
    -webkit-text-stroke: 1px #000 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#home-last p{
    font-size: clamp(15px , 2vw , 25px);
    font-weight: 500;
    letter-spacing: -0.8;
    

}
#home-last{
    padding: 3vw 13vw;
}

#featured{
    padding: 9vw 15vw ;
}
.fheading h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 500;
}
.fheading h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000 ;
}
#f-images{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 5vw;
    height: 100vh;

}

#f-left{
    width: 45%;
    height: inherit;
    
    overflow: hidden;
}
#f-right{
    width: 45%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    
}
#f-right .images{
    width: 90%;
    overflow: hidden;
    height: 90%;
}
.fleftelem{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.fleftelem h1{
    font-size: 2.6vw;
    font-weight: 590;
    text-transform: capitalize;
    margin: 1.4vw 0;
    line-height: 1;
}
.fleftelem h3{
    font-size: 1.4vw;
    font-weight: 580 ;
}
.fleftelem h4{
    
    opacity: .7;
    font-size: 2.3vw;
    
}
.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btndiv button{
    padding: 1vw 2.5vw;
    border-radius:1.9vw ;
    font-size: 1.2vw;
    background-color: #fff;
    border: .14vw solid #e6e6e6;
    font-weight: 590;
}
#dev{
    width: 100%;
    padding: 4vw 16vw ;

}
#dev h1{
    font-size: 4vw;
    font-weight: 550;
    width: 50%;
    line-height: 1;
}
#dev p{
    font-weight: 400;
    font-size: 1.3vw;
    width: 60%;
    margin-top: 3vw;
}
#slides{
    width: 100%;
    display: flex;
    padding: 2vw 13vw;
    justify-content: space-between;
}
.slide {
    width: 30%;
}
.slide .img{
    width: 100%;
    height: 12.5vw;

    background-image: url(./image1.jpg);
}
.slide .tag{
    margin: .7vw 0;
    width: fit-content;
    border-radius: 2vw;
    background-color: #f7f7f7;
    padding: .7vw;
}
.slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide h3{
    font-size:1.4vw ;
}
#f-right .images img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.btndiv{
    margin-top: 3vw;
}
.slide .img2{
    background-image: url("https://images.unsplash.com/photo-1773332598289-ed0444ad1d6f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4NHx8fGVufDB8fHx8fA%3D%3D");
}
.slide .img3{
    background-image: url("https://plus.unsplash.com/premium_photo-1781039804561-edc6d8688859?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMzB8fHxlbnwwfHx8fHw%3D");
}
#footer{
    background-color: #000;
    padding: 10vw 10vw;
}
#footer *{
    color: #fff;
}
#footerh11{
    font-size: 6vw;
}
#footerh12{
    font-size: 6vw;
    font-weight: 400;
}
#lastfooter{
    display: flex;
    
    margin-top: 15vw;
}
#lastfooterleft{
    margin-right: 25vw;
    
    width: 50%;
}
#lastfooterright{
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#lastfooterleft h3{
    margin-top: 2vw;
}
#lastfooterleft a{
    display: inline-block;
    margin-bottom: 2vw;
}
#footer{
    margin-top: 5vw;
}
#footer h1{
    overflow: hidden;
    line-height: 1;
}

.char{
    display: inline-block;
}